a {

    text-decoration: none;
    color: #77a609;
    font-size: 18px;
}


.hard-shadow {
    background: rgb(130, 45, 63);
    color: white;
    text-shadow: -2px 4px 0 rgba(0,0,0,0.3);
    font-size: 80px;
  }